<!DOCTYPE html>
<html>
  <head>
    <title>RailsClickjacking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://hunter2labs.s3.amazonaws.com/common.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://hunter2labs.s3.amazonaws.com/common.js" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>